.app {
    height: 80vh;
  }
  
  
  #root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .submit-btn {
    background-color: #3498DB;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    outline: none;
  }
  
  .submit-btn:hover {
    background-color: #2980B9;
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  }
  
  .input-design {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
  }
  
  .header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2196f3;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    font-size: 20px;
    color: white;
  }
  
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 30px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }