* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    min-height: 100vh;
  }
  
  img {
    width: 100%;
    object-fit: contain;
  }
  
  #chart {
    background: #fff;
    width: 90%;
    margin: 1em auto;
  }
  