.chat___form {
	max-width: 350px;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}
  
  .chat___name-field {
	margin-bottom: 40px;
  }
  
  .chat__button {
    padding: 10px 20px;
	background-color: #5ba5e5;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .chat__button:hover{
	background-color: #2980B9;
  	transform: translateY(-3px);
  	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
  }
  
  .chat__render {
	max-width: 350px;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  }
  
  .chat__h3 {
	color: #2f72da;
  }
  
  .chat__span {
	color: black;
  }