.Home__warpper{
  width: 100%;
  display: grid;
  grid-template-areas:
  "heading heading"
  "video video"
  "map weather";
grid-template-columns: 1fr 3fr;
grid-template-rows: min-content auto auto;
gap: 30px;
}


.heading {
  grid-area: heading;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .container {
    align-items: center;
    flex-direction: column;
    /* display: flex; */
    /* width: 80%; */
    /*margin: 10% auto; */
  }

.homepage {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 1300px;
  margin: 1rem auto;
}

.homepage__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.homepage__search {
  margin: 1rem auto;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-right: 10px;
  visibility: visible;
  color: hsl(0, 0%, 20%);
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: inline-grid;
  grid-area: 1/1/2/3;
  grid-template-columns: 0 min-content;
  box-sizing: border-box;
  font-size: 20px;
  width: 20%;
}
.homepage__search::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 17px;
}
.homepage__select {
  width: 20%;
}
.homepage__clearbutton {
	  background-color: #5ba5e5;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .homepage__clearbutton:hover{
    background-color: #2980B9;
  	transform: translateY(-3px);
  	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
	  transition: all 0.3s ease-in-out;
  }

.homepage__clearbutton:disabled,
.homepage__clearbutton[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
  transform: none;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #333;
  text-shadow: 2px 2px #ccc;
  margin: 0;
}


@media (max-width: 1232px) {
  .homepage__products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .homepage__products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .homepage__products {
    grid-template-columns: 1;
  }
}
