.video-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
    grid-area: video;
  }
  
  .video-responsive iframe {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }